<div class="locations">
  <div class="location"><img src="/images/readme/usa.svg"></div>
  <div class="location"><img src="/images/readme/canada.svg"></div>
  <div class="location"><img src="/images/readme/europe.svg"></div>
  <div class="location-navigator" style="left: 0;" onclick="plusDivs(-1)">
      <div class="location-nav">
          <p>&#10094;</p>
      </div>
  </div>
  <div class="location-navigator" style="right: 0;" onclick="plusDivs(1)">
      <div class="location-nav">
          <p>&#10095;</p>
      </div>
  </div>
</div>